@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './mixins/buttonborders';

@import './mixins/row';

@import './variables/colors';

@import './loading';

@import './login';

@import './header';

@import './game-page';

@import './answers';

@import './feedbacks';

@import './rankings';

html, body, main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
}
