@import 'colors.css' ;

.next-btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  top: -30px;
  width: 300px;
}

.next-btn:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
