@import 'colors.css' ;

.questions {
  padding: 60px 120px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.trivia_logo {
  width: 500px;
  display: flex;
  margin: 40px auto;
}

.question_card {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 1250px;
  display: flex;
  flex-direction: column;
  height: 41vh;
  text-align: center;
}

.question_card h1 {
 margin-top: 10px;
}

.question_card p {
  margin: 50px 0;
  font-size: 24px;
  font-weight: 600;
}

.question_card button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px 20px;
  width: 80%;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.not-answered {
  border: none;
}

.question_card button:disabled {
  background-color: #eee;
  color: #333;
  pointer-events: none;
}

.question_card > button {
  margin-top: 5px;
}

.question_card button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.incorrect-answer-btn {
  border: 2px solid red;
  pointer-events: none;
}

.correct-answer-btn {
  border: 2px solid rgb(6, 240, 15);
  pointer-events: none;
}

.feed_btn, .play_again_btn, .rank_btn {
  border: none;
  padding: 10px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  width: 200px;
}

.feed_btn {
  background-color: var(--primary-color);
}

.play_again_btn {
  background-color: var(--secondary-color);
}

.feed_btn:hover, .play_again_btn:hover, .rank_btn:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.rank_btn {
  background-color: var(--rank-color);
}

.trivia_link_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trivia_link_btns button {
  margin: 0 10px;
}

