.standard-header {
  align-items: center;
  background-color: rgb(55, 37, 73);
  box-shadow: 2px 1px 3px 1px rgb(44, 122, 167);
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.standard-header div {
  margin: 7px;
  margin-left: 30px;
  margin-right: 30px;
}

.player-info {
  align-items: center;
  display: flex;
}

.player-info img {
  border-radius: 40%;
}

.jogador-span {
  color: aliceblue;

  /* font-family: 'Maven Pro', sans-serif; */
  font-size: larger;
  margin: 16px;
}

.player-name {
  margin-left: 3px;
}

.player-score {
  color: aliceblue;

  /* font-family: 'Maven Pro', sans-serif; */
  font-size: larger;
}

.player-score-number {
  margin-left: 5px;
}
