* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.eachPlayer-list {
  align-items: center;
  border: 1px black solid;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.ranking-button-container {
  border: 1px black solid;
  height: 65px;
  margin-top: 3%;
  width: 120px;
}

.ranking-button {
  background-color: green;
  color: white;
  font-size: larger;
  font-weight: 600;
  height: 100%;
  width: 100%;
}
