.container-feedback {
	border: 1px solid #7c838a;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 60%;
  padding: 10px;
  text-align: center;
}

.test {
	background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
}

.btn-play {
	background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color: #74ad5a;
	border: 2px solid #3b6e22;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: Arial , Helvetica , sans-serif;
	font-size: 1em;
	font-weight: 700;
	margin: 10px auto;
	max-width: 30%;
	padding: 5px 30px;
	text-decoration: none;
}

.btn-play:hover {
	background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color: #68a54b;
}

.btn-play:active {
	position: relative;
	top: 1px;
}

.btn-ranking {
	background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color: #33bdef;
	border: 2px solid #057fd0;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: Arial , Helvetica , sans-serif;
	font-size: 15px;
	font-weight: 700;
  margin-left: 10px;
	padding: 5px 24px;
	text-decoration: none;
}

.btn-ranking:hover {
	background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color: #019ad2;
}

.btn-ranking:active {
	position: relative;
	top: 1px;
}
