.login-container {
  background-color: #fffffe;
  border: 1px solid #1f1f1f;
  border-radius: 8px;
  margin: 32px auto;
  max-width: 320px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  max-width: 240px;
}

.login-container h2 {
	color: #1660a5;
	margin-bottom: -10px;
	text-align: center;
}

.login-container label {
	width: 260px;
}

.login-container input {
  border: 1px solid #1f1f1f;
  border-radius: 6px;
  font-size: 14px;
  margin: 8px 8px;
  outline: none;
	padding: 4px 8px;
}

.login-container button {
  background-color: #1c7cd6;
  border: 1px solid #1c7cd6;
  border-radius: 4px;
  color: #eee;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0;
  padding: 4px;
  transition: background-color 0.2s;
  width: 100%;
}

.login-container button:hover {
  background-color: #176bb9;
}
