.container-ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-lista-ranking {
  width: 90%;
  padding: 20px;
  border: 1px solid #7C838A;
  border-radius: 6px;
}

.lista-ranking li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  list-style: none;
  margin: 10px auto;
}

.btn-ranking-play {
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border-radius:10px;
	border:2px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1em;
	font-weight:700;
	padding:5px 30px;
	text-decoration:none;
  margin: 10px auto;
}

.btn-ranking-play:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}

.btn-ranking-play:active {
	position:relative;
	top:1px;
}