.rank-home-btn-container {
  align-items: center;
  background-color: rgb(45, 17, 51);
  border: 4px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 1.5em;
  justify-content: center;
  margin-top: 1.5em;
  position: relative;
  width: 6.5em;
}

.rank-home-btn-container:hover {
  background-color: white;
  box-shadow: 0 0 15px white;
  z-index: 1;
}

.btn-home {
  background-color: rgb(45, 17, 51);
  border: 2px solid rgb(45, 17, 51);
  border-radius: 15px;
  color: white;
}

.btn-home:hover {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
}

.btn-home-label {
  background-color: rgb(45, 17, 51);
  border: 2px solid rgb(45, 17, 51);
  border-radius: 15px;
  color: white;
  font-size: 0.6em;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

.btn-home-label:hover {
  background-color: white;
  border: 2px solid white;
  box-shadow: none;
  color: rgb(45, 17, 51);
  z-index: 1;
}

.home-one {
  left: 2px;
  position: absolute;
  z-index: 0;
}

.home-two {
  position: absolute;
  right: 2px;
  z-index: 0;
}
