.rankBack {
  background-color: #1d2551;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.rankHeader {
  background-color: #fea418;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #7ea8df;
  color: aliceblue;
  margin-top: 50px;
  padding: 20px;
  width: 30%;
}

.g4Logo {
  margin-top: 30px;
  position: fixed;
  width: 100px;
}

.rankListItem {
  display: flex;
  margin-top: 50px;
}

.imagePlayer {
  height: 100px;
  width: 100px;
}

.playerInfoContainer {
  margin-left: 10px;
}

.score, .player {
  margin-right: 10px;
}

