.settingSection input, .settingSection select {
  margin-bottom: 5px;
  margin-left: 5px;
  width: 80%;
}

.mainSection {
  background-color: #1d2551;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.settingSection {
  background-color: #fea418;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #7ea8df;
  display: flex;
  flex-direction: column;
  height: 25%;
  margin-top: 50px;
  padding: 20px;
  width: 40%;
}
