.feedback-screen {
  color: white;
  text-align: center;
  border-color: rgb(61, 157, 179);
  border-radius: 30px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 400px;
  margin-top: 70px;
  min-height: 260px;
  width: 600px;
  position: relative;
}

.feedback-screen:h2 {
  color: white;
}

.btn-feedBack {
  background: rgb(61, 157, 179);
  cursor: pointer;
  margin-left: 5px;
  margin-top: 40px;
  color: black;
  padding: 8px 5px;
  border: 1px solid white;
  font-size: 15px;  
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  text-shadow: 0 1px 1px #333;
  width: 200px;
  border-radius: 5px;
  transition: all 0.2s linear;
}