.feedback-screen {
  color: white;
  border-color: rgb(81, 86, 255);
  border-radius: 30px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 400px;
  margin-top: 70px;
  min-height: 260px;
  position: relative;
  text-align: center;
  width: 600px;
}

.btn-feedBack {
  background: rgb(81 , 86, 255);
  cursor: pointer;
  margin-left: 5px;
  color: black;
  margin-top: 40px;
  border: 1px solid white;
  padding: 8px 5px;
  font-size: 15px;
  -webkit-border-radius: 5px;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px #333;
  border-radius: 5px;
  transition: all 0.2s linear;
  width: 200px;
}
