.login-screen {
  border-color: rgb(81, 86, 255);
  border-radius: 30px;
  border-style: solid;
  color: white;
  margin-left: 35%;
  margin-top: 70px;
  min-height: 260px;
  padding: 15px;
  position: relative;
  width: 400px;
}

.input-name {
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
  margin-top: 4px;
  padding: 10px;
  width: 95%;
}

.input-email {
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
  margin-bottom: 10px;
  margin-top: 4px;
  padding: 10px;
  width: 95%;
}

.btn-play {
  background: rgb(81, 86, 255);
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 8px 5px;
  text-shadow: 0 1px 1px #333;
  width: 100%;
}

.btn-config {
  background: rgb(81, 86, 255);
  border-radius: 30px;
  color: black;
  cursor: pointer;
  margin-left: 297px;
  margin-top: 50px;
}
