.login-screen {
  color: white;
  border-color: rgb(81,86,255);;
  border-radius: 30px;
  border-style: solid;
  margin-left: 500px;
  margin-top: 70px;
  min-height: 260px;
  width: 400px;
  position: relative;
}

#input-name {
  width: 95%;
  margin-top: 4px;
  border: 1px solid #b2b2b2;
  padding: 10px;

  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#input-email {
  margin-bottom: 10px;
  margin-top: 4px;
  width: 95%;
  border: 1px solid #b2b2b2;
  padding: 10px;

  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#btn-play {
  background: rgb(81,86,255);;
  cursor: pointer;
  width: 100% ! important;
  color: black;
  padding: 8px 5px;
  border: 1px solid white;
  font-size: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  text-shadow: 0 1px 1px #333;

  border-radius: 5px;

  transition: all 0.2s linear;
}

#btn-config {
  color: black;
  background: rgb(81,86,255);
  border-radius: 30px;
  margin-left: 297px;
  margin-top: 50px;
}