body {
  background-color: rgb(10, 10, 10);
}

#score-counter {
  color: white;
  font-size: 20px;
  text-align: center;
  border-color: rgb(81,86,255);
  border-radius: 30px;
  border-style: solid;
  width: 100px;
}

.correct {
  border-radius: 30px;
  background-color: rgb(19, 212, 26);
  color: black;
  width: 200px;
}

.wrong {
  border-radius: 30px;
  width: 200px;
  color: darkgray;
  background-color: rgb(216, 16, 16);
}

#quest-btn {
  display: flex;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-left: 200px;
  width: 200px;
}

#btn-next {
  margin-left: 400px;
  background: rgb(81,86,255);
  cursor: pointer;
  width: 600px ! important;
  color: white;
  padding: 8px 5px;
  border: 1px solid white;
  font-size: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  text-shadow: 0 1px 1px #333;

  border-radius: 30px;

  transition: all 0.2s linear;
}

.main-questions {
  color: white;
  text-align: center;
  border-color: rgb(81,86,255);
  border-radius: 30px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 400px;
  margin-top: 70px;
  min-height: 260px;
  width: 600px;
  position: relative;
}

.time-counter {
  background: rgb(81,86,255);
  text-align: center;
  display: flex;
}
