.ranking-screen {
  border-color: rgb(81, 86, 255);
  border-radius: 30px;
  border-style: solid;
  color: white;
  margin-bottom: 10px;
  margin-left: 30%;
  margin-top: 2%;
  min-height: 260px;
  position: relative;
  text-align: center;
  width: 50%;
}

.ranking-player {
  border-bottom: rgb(81, 86, 255);
  border-bottom-style: solid;
  margin-top: 3%;
  width: 100%;
}

.ranking-img {
  display: flex;
  padding-left: 10%;
}

.ranking-name {
  align-items: center;
  border-radius: 30px;
  display: flex;
  margin-bottom: 0%;
  margin-left: 30%;
  width: 50%;
}

.ranking-score {
  align-items: center;
  border-radius: 30px;
  display: flex;
  margin-bottom: 0%;
  margin-left: 30%;
  width: 50%;
}

.btn-home {
  background: rgb(81, 86, 255);
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 1%;
  margin-left: 0;
  margin-top: 1%;
  padding: 8px 5px;
  text-shadow: 0 1px 1px #333;
  width: 90%;
}
