.questions-container {
  display: flex;
  justify-content: center;
}

.questions-card {
  border: 1px solid gainsboro;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 12px 24px;
}

.questions-text {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.cat {
  align-self: center;
  border-bottom: 2px solid gainsboro;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.questions-answers {
  display: flex;
  flex-direction: column;
}

.btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.answer-btn {
  background: linear-gradient(to bottom, white 5%, #f6f6f6 100%);
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 0 white;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
}

.answer-btn:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, white 100%);
  background-color: #f6f6f6;
}

.answer-btn:active {
  position: relative;
  top: 1px;
}

.answer-btn-correct {
  background: linear-gradient(to bottom, white 5%, #f6f6f6 100%);
  background-color: white;
  border: 3px solid rgb(6, 240, 15);
  border-radius: 6px;
  box-shadow: inset 0 1px 0 0 white;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
}

.answer-btn-wrong {
  background: linear-gradient(to bottom, white 5%, #f6f6f6 100%);
  background-color: white;
  border: 3px solid red;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 0 white;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
}

.btn-next {
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:5px;
	border:2px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-weight: 700;
	font-family:Arial;
	font-size:13px;
	padding:10px 24px;
	text-decoration:none;
}
.btn-next:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.btn-next:active {
	position:relative;
	top:1px;
}
