.header-section {
  align-items: center;
  background-color: #7c838a;
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  padding: 10px;
}

.profile-section {
  display: flex;
  justify-content: space-evenly;
}

.profile-section img {
  border-radius: 10px;
}

.score-section {
  display: flex;
}

.score-section p {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}
