.correct {
  border-radius: 30px;
  color: black;
  width: 200px;
  background-color: rgb(19, 212, 26);
}

.wrong {
  border-radius: 30px;
  width: 200px;
  color: darkgray;
  background-color: rgb(216, 16, 16);
}

#btn-next {
  border-radius: 30px;
  width: 200px;
  margin-left: 800px;
}

.main-questions {
  text-align: center;
  width: 600px;
  min-height: 260px;   
  margin-top: 70px;
  margin-left: 400px;
  border-style: solid;
  border-radius: 30px;
  border-color: rgb(61, 157, 179);
  position: relative; 
}

.time-counter {
  text-align: center;
  background: rgb(61, 157, 179);
  display: flex;
}

.question-category {
  background: rgb(138, 129, 122);
  display: flex;
}