.ranking-image { 
  border-radius: 50%;
  padding: 10px 0;
}

.player-label {
  display: flex;
  background-color: rgb(211, 223, 219);
  border-radius: 10px;
  margin: 10px 30%;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.mandou_bem {
  margin-top: 15px;
  border-radius:5px;
  width: 400px;
}

.podiaMelhor {
  margin-top: 15px;
  border-radius:5px;
  width: 400px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}