.footer {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 80px;
  justify-content: space-around;
  text-align: center;
  margin-top: 80px;
}
