.footer {
  align-items: center;
  background-color: #5aacb1;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  justify-content: space-around;
  text-align: center;
}
