body {
  background-image: url("../images/abstract-1628703162054-6515.jpg");
}

.message-erro {
  color:white;
  margin: 400px auto;
  background-color: black;
  height: 50px;
}
.Game {
  align-content: space-between;
  display: flexbox;
}
