/* body {
  background-image: url("../images/abstract-1628703162054-6515.jpg");
} */

header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 10px;
  width: auto;
}

.picture {
  border-radius: 50%;
  height: auto;
  margin-left: 5%;
  width: 90px;
}

.score {
  color: rgb(26, 82, 128);
  font-size: 20px;
  margin-right: 3%;
  margin-top: 10px;
}

.name {
  color: rgb(26, 82, 128);
  font-size: 35px;
  font-style: oblique;
}
