body {
  background-image: url('../images/abstract-1628703162054-6515.jpg');
}

.App-header {
  background-color: white;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

.body-login {
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  opacity: 0.9;
  width: 450px;
}

.btn-login {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 150px;
}
