.next-button {
  margin-top: 15px;
}

.time-counter {
  color: #246669;
  font-size: 30px;
}

.category-questions {
  color: #246669;
  font-size: 30px;
}

.questions {
  color: #246669;
  font-size: 22px;
}

.bicicleta {
  border-radius: 5px;
  margin-top: 15px;
  width: 500px;
}
