.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 35%;
  margin: 20px;
}


.App-header {
  height: 300px;
  align-items: center;
  background-color: rgb(137, 149, 150);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-header input {
  border: none;
  padding: 10px;
  margin: 5px;
}

.App-header button {
  border: none;
  width: 200px;
  padding: 10px;
  margin: 5px;
  background-color: rgba(53, 22, 2, 0.692);
  color: white;
}

.App-link {
  color: #61dafb;
}

