@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: Maven Pro, sans-serif;
  margin: 0;
}

body {
  background-color: #e5e5e5;
}

.bg-header {
  background-color: #096773;
}

.btn-green {
  background-color: #13c062;
}

.black-border {
  border: 1px black solid;
}

.blue-background {
  background-color: #2796ca;
}

.aliceblue-color {
  color: aliceblue;
}

.bg-grey {
  background-color: #9c9797;
}

.stopwatch {
  background-color: #6f9dc9;
}

.btn-yellow {
  background-color: #f9cc2c;
}

.h-main {
  height: 75vh;
}
